<ion-header class="header--menu">
  <ion-toolbar>
    <ion-title>
      <a href="https://walletbeacon.io" class="logo--container">
        <img src="assets/img/beacon_logoy_type_hor_padding.svg" />
        <ion-chip color="primary" outline="true"><ion-label>Alpha</ion-label></ion-chip>
      </a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        {{ connectionStatus | async }}
        connected to {{ activeAccount | async }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <!--TODO: handle generic -->
            <ion-item
              [class]="selectedTab === 'approach' ? 'item--active' : ''"
              (click)="scrollTo('approach')"
              (click)="select('approach')"
            >
              <ion-label [color]="selectedTab === 'approach' ? 'primary' : 'black'">
                Approach
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'wallets_dapps' ? 'item--active' : ''"
              (click)="scrollTo('wallets_dapps')"
              (click)="select('wallets_dapps')"
            >
              <ion-label [color]="selectedTab === 'wallets_dapps' ? 'primary' : 'black'">
                Wallets & dApps
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'transport_layer' ? 'item--active' : ''"
              (click)="scrollTo('transport_layer')"
              (click)="select('transport_layer')"
            >
              <ion-label [color]="selectedTab === 'transport_layer' ? 'primary' : 'black'">
                Transport Layer
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'message_types' ? 'item--active' : ''"
              (click)="scrollTo('message_types')"
              (click)="select('message_types')"
            >
              <ion-label [color]="selectedTab === 'message_types' ? 'primary' : 'black'">Message Types</ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'permissionRequest' ? 'item--active' : ''"
              (click)="scrollTo('permissionRequest')"
              (click)="select('permissionRequest')"
            >
              <ion-label [color]="selectedTab === 'permissionRequest' ? 'primary' : 'black'">
                permissionRequest
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'operationRequest' ? 'item--active' : ''"
              (click)="scrollTo('operationRequest')"
              (click)="select('operationRequest')"
            >
              <ion-label [color]="selectedTab === 'operationRequest' ? 'primary' : 'black'">
                operationRequest
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'signPayloadRequest' ? 'item--active' : ''"
              (click)="scrollTo('signPayloadRequest')"
              (click)="select('signPayloadRequest')"
            >
              <ion-label [color]="selectedTab === 'signPayloadRequest' ? 'primary' : 'black'">
                signPayloadRequest
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'broadcastRequest' ? 'item--active' : ''"
              (click)="scrollTo('broadcastRequest')"
              (click)="select('broadcastRequest')"
            >
              <ion-label [color]="selectedTab === 'broadcastRequest' ? 'primary' : 'black'">
                broadcastRequest
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!--
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          -->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
