.item--active {
  border-left-width: 4px;
  border-left-color: var(--ion-color-primary);
  border-left-style: solid;
}
.show-menu {
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.24);
}
@media only screen and (max-width: 767px) {
  ion-title {
    padding: 0;
  }
}
.logo--container {
  display: flex;
  align-items: center;
  ion-label {
    font-size: 12px;
  }
}
