<ion-header class="header--menu">
  <ion-toolbar>
    <ion-title>
      <div class="logo--container ion-align-items-center">
        <div class="ion-align-items-center">
          <a href="https://walletbeacon.io">
            <img src="assets/img/beacon_logoy_type_hor_padding.svg" />
          </a>
          <span><a href="https://airgap.it" target="_blank">by AirGap</a></span>
        </div>
        <ion-chip color="primary" outline="true" class="ion-margin-start">
          <ion-label>Alpha v{{ version }}</ion-label>
        </ion-chip>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="reset()">
        {{ connectionStatus$ | async }}
        <ng-container *ngIf="activeAccount$ | async; let activeAccount">
          connected to {{ activeAccount.address }} on {{ activeAccount.network.type }}
        </ng-container>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <!--TODO: handle generic -->
            <ion-item
              [class]="selectedTab === 'approach' ? 'item--active' : ''"
              (click)="scrollTo('approach')"
              (click)="select('approach')"
            >
              <ion-label [color]="selectedTab === 'approach' ? 'primary' : 'black'">
                Approach
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'wallets_dapps' ? 'item--active' : ''"
              (click)="scrollTo('wallets_dapps')"
              (click)="select('wallets_dapps')"
            >
              <ion-label [color]="selectedTab === 'wallets_dapps' ? 'primary' : 'black'">
                Wallets & dApps
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'transport_layer' ? 'item--active' : ''"
              (click)="scrollTo('transport_layer')"
              (click)="select('transport_layer')"
            >
              <ion-label [color]="selectedTab === 'transport_layer' ? 'primary' : 'black'">
                Transport Layer
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'message_types' ? 'item--active' : ''"
              (click)="scrollTo('message_types')"
              (click)="select('message_types')"
            >
              <ion-label [color]="selectedTab === 'message_types' ? 'primary' : 'black'">Message Types</ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'permissionRequest' ? 'item--active' : ''"
              (click)="scrollTo('permissionRequest')"
              (click)="select('permissionRequest')"
            >
              <ion-label [color]="selectedTab === 'permissionRequest' ? 'primary' : 'black'">
                permissionRequest
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'operationRequest' ? 'item--active' : ''"
              (click)="scrollTo('operationRequest')"
              (click)="select('operationRequest')"
            >
              <ion-label [color]="selectedTab === 'operationRequest' ? 'primary' : 'black'">
                operationRequest
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'signPayloadRequest' ? 'item--active' : ''"
              (click)="scrollTo('signPayloadRequest')"
              (click)="select('signPayloadRequest')"
            >
              <ion-label [color]="selectedTab === 'signPayloadRequest' ? 'primary' : 'black'">
                signPayloadRequest
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'broadcastRequest' ? 'item--active' : ''"
              (click)="scrollTo('broadcastRequest')"
              (click)="select('broadcastRequest')"
            >
              <ion-label [color]="selectedTab === 'broadcastRequest' ? 'primary' : 'black'">
                broadcastRequest
              </ion-label>
            </ion-item>
            <ion-item
              [class]="selectedTab === 'components' ? 'item--active' : ''"
              (click)="scrollTo('components')"
              (click)="select('components')"
            >
              <ion-label [color]="selectedTab === 'components' ? 'primary' : 'black'">
                Components
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-row class="ion-padding-horizontal ion-justify-content-evenly">
            <a href="https://github.com/airgap-it/beacon-sdk" target="_blank">
              <ion-icon name="logo-github" color="medium"></ion-icon>
            </a>
            <a href="https://docs.walletbeacon.io/" target="_blank">
              <ion-icon name="document-text-outline" color="medium"></ion-icon>
            </a>
            <a href="https://twitter.com/AirGap_it" target="_blank">
              <ion-icon name="logo-twitter" color="medium"></ion-icon>
            </a>
            <a href="https://t.me/AirGap" target="_blank">
              <ion-icon src="/assets/img/telegram-plane-brands.svg" color="medium"></ion-icon>
            </a>
            <a href="https://medium.com/airgap-it" target="_blank">
              <ion-icon src="/assets/img/medium-brands.svg" color="medium"></ion-icon>
            </a>
          </ion-row>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
