.intro__container {
  font-size: 1.2em;
  margin-bottom: 1.2em;
  line-height: 2;
  font-weight: 200;
}
.hero--container {
  min-height: 50vh;
}
.selection--container,
.integration--container {
  ion-card {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    ion-card-content {
      flex: 1;
    }
    img {
      width: 124px;
      height: auto;
    }
    img,
    h3 {
      min-height: 48px;
    }
    h3 {
      display: flex;
      align-items: center;
    }
    @media only screen and (min-width: 768px) {
      ion-button {
        width: fit-content;
      }
    }
  }
}
.integration--container {
  ion-card {
    min-height: 260px;
  }
}

.footer--container {
  background: var(--ion-color-light);
  ul {
    list-style: none;
  }
}
