<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    Current status: {{ connectionStatus }}
    <br />
    Addresses: {{ addresses | json }}
    <br />
    <ion-button (click)="askForPermissions()">Ask for permissions</ion-button>
    <br />
    <ion-button (click)="sign()">Sign something</ion-button>
    <br />
  </ion-card>

  <ion-card *ngIf="addresses.length > 0">
    <ion-item>
      <ion-label>Contract Address</ion-label>
      <ion-input [(ngModel)]="contractAddress"></ion-input>
    </ion-item>
    <ion-button (click)="getBalanceOfContract()">Get Balance</ion-button>

    <br />

    FA Token balance: {{ contractBalance }}

    <br />

    <ion-item>
      <ion-label>Transfer Amount</ion-label>
      <ion-input [(ngModel)]="transferAmount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Transfer Recipient</ion-label>
      <ion-input [(ngModel)]="transferRecipient"></ion-input>
    </ion-item>
    <ion-button (click)="transfer()">Transfer</ion-button>
  </ion-card>
  <ion-card>
    <ion-button (click)="delegate()">One Click Delegate</ion-button>
  </ion-card>
  <ion-card>
    <ion-input></ion-input>
    // Entrypoint
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select placeholder="Type">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button (click)="delegate()">Generic operation</ion-button>
  </ion-card>
</ion-content>
