<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content :scrollEvents="true">
  <ion-grid fixed="true" class="ion-padding">
    <ion-row class="hero--container ion-align-items-center">
      <ion-col>
        <h1>
          Beacon
          <br />
          Connect dApps with Wallets
        </h1>
        <ion-button (click)="askForPermissions()">Connect Beacon</ion-button>
        <a href="https://github.com/airgap-it/beacon-extension/releases" target="_blank">
          <ion-button fill="outline">
            Download Extension
          </ion-button>
        </a>
      </ion-col>
      <ion-col>
        <img src="assets/img/beacon_illu_hero.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom">
      <ion-col class="ion-no-padding ion-padding-bottom">
        <ion-card color="secondary" class="ion-no-margin">
          <ion-card-content>
            <strong>Alpha</strong>
            - Beacon is in early Alpha development. Not every component is fully functional and not all flows have been
            implemented yet.
            <a href="mailto:hi@airgap.it">Reach out with questions.</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-no-padding">
            <p class="intro__container">
              <strong>Beacon</strong>
              is the implementation of
              <a href="https://gitlab.com/tzip/tzip/tree/master/proposals/tzip-10" target="_blank">tzip-10</a>
              which describes an interaction standard between a wallet and a dApp.
            </p>
            <p class="intro__container">
              Where a dApp impelementing the
              <a href="https://github.com/airgap-it/beacon-sdk" target="_blank">beacon-sdk</a>
              can build up a channel and send messages over a peer to peer communication layer to a wallet using the
              sdk. This allows for a communication for example of a mobile wallet with a desktop application. The
              requests of the dApp are sent to the wallet, signed and returned to the application.
            </p>
          </ion-col>
          <ion-col size="12" offset-md="1" size-md="5" class="ion-no-padding">
            <a href="https://youtu.be/-BrRTlgza10" target="_blank">
              <img src="assets/img/beacon_video_preview.png" />
              <ion-button expand="block">Play Video</ion-button>
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom" id="approach">
      <ion-col size="12" size-md="6" class="ion-no-padding ion-padding-vertical">
        <h2>Approach</h2>
        <p>
          For the user there are two option to interact with dApps.
        </p>
        <p>
          Either a browser extension is installed that communicates with the dApp and wallet by only pairing them once
          or each dApp is paired directly with the wallet.
        </p>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="selection--container">
          <ion-col size="12" size-md="6">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <img src="assets/img/beacon_extension.svg" />
                <ion-card-title>Browser Extension</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>The Beacon browser extension is responsible for the communication with the dApp and the wallet.</p>
              </ion-card-content>
              <div class="ion-margin">
                <a href="https://github.com/airgap-it/beacon-extension/releases" target="_blank">
                  <ion-button>
                    Download Extension
                  </ion-button>
                </a>
                <a href="https://youtu.be/Ws_1U6ioG8s" target="_blank">
                  <ion-button fill="outline">
                    Video
                  </ion-button>
                </a>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="6">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <img src="assets/img/beacon_dapp.svg" />
                <ion-card-title>
                  dApp Integration
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>
                  With the implementation of the beacon-sdk, the dApp can also support direct connections. The user has
                  to scan the pairing qr with his wallet for each dApp.
                </p>
              </ion-card-content>
              <div class="ion-margin">
                <ion-button (click)="askForPermissions()">Connect Beacon</ion-button>
                <a href="https://youtu.be/-BrRTlgza10" target="_blank">
                  <ion-button fill="outline">
                    Video
                  </ion-button>
                </a>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom integration--container" id="wallets_dapps">
      <ion-col size="12" size-md="6" class="ion-no-padding ion-padding-vertical">
        <h2>Wallets & dApps</h2>
        <p>
          These wallets and dApps that are using the
          <a href="https://github.com/airgap-it/beacon-sdk" target="_blank">beacon-sdk</a>
          to support a simple interaction for their users.
        </p>
        <p>
          More Wallets and dApps will follow in the near future. If you're supporting Beacon in your project, please
          reach out to us to be listed.
        </p>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-padding-top">
          <ion-col size="12" class="ion-no-padding ion-padding-bottom">
            <strong>Wallets</strong>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <img src="assets/img/airgap_logo.svg" />
              </ion-card-header>
              <ion-card-content>
                <p>
                  <strong>AirGap</strong>
                  is a crypto asset wallet where your old smartphone is your new ‘hardware wallet’. Store your assets
                  entirely secure on an offline device.
                </p>
              </ion-card-content>
              <div class="ion-margin">
                <a href="https://github.com/airgap-it/airgap-wallet/releases" target="_blank">
                  <ion-button fill="outline">
                    Download
                  </ion-button>
                </a>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <img src="assets/img/ledger_logo.svg" />
              </ion-card-header>
              <ion-card-content>
                <p>
                  Communication with
                  <strong>Ledger</strong>
                  hardware wallets is natively supported in the
                  <strong>Beacon Extension</strong>
                  , allowing any operation to be signed with a Ledger hardware wallet.
                </p>
              </ion-card-content>
              <div class="ion-margin">
                <a href="https://github.com/airgap-it/beacon-extension/releases" target="_blank">
                  <ion-button fill="outline">
                    Download
                  </ion-button>
                </a>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row class="ion-padding-top">
          <ion-col size="12" class="ion-no-padding ion-padding-vertical">
            <strong>dApps</strong>
          </ion-col>
          <ion-col size="12" size-md="4">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <img src="assets/img/beacon_logoy_type_hor_padding.svg" />
              </ion-card-header>
              <ion-card-content>
                <p>
                  This website is the
                  <strong>Beacon Example dApp</strong>
                  that showcases various interactions with the beacon-sdk. The code is open source and available on
                  GitHub.
                </p>
              </ion-card-content>
              <div class="ion-margin">
                <a href="https://github.com/airgap-it/beacon-example-dapp" target="_blank">
                  <ion-button fill="outline">
                    Open
                  </ion-button>
                </a>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom" id="transport_layer">
      <ion-col size="12" size-md="6" class="ion-no-padding ion-padding-vertical">
        <h2>Transport Layer</h2>
        <p>
          As specified in
          <a href="https://gitlab.com/tzip/tzip/tree/master/proposals/tzip-10" target="_blank">tzip-10</a>
          Beacon utilizes a peer to peer network built with the
          <a href="https://matrix.org/" target="_blank">matrix protocol</a>
          to transport messages from the dApps to the Wallets thus leveraging a decentralized approach.
        </p>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-row class="ion-padding-top">
          <ion-col class="ion-no-padding"><img src="assets/img/beacon_transport.png" /></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row id="message_types">
      <ion-col size="12" size-md="6" class="ion-no-padding">
        <h2>Message Types</h2>
        <p>
          The following message types have been implemented from the
          <a href="https://gitlab.com/tzip/tzip/tree/master/proposals/tzip-10" target="_blank">tzip-10</a>
          standard in the
          <a href="https://github.com/airgap-it/beacon-sdk" target="_blank">beacon-sdk</a>
          . Examples for each messaging type have been implemented below.
        </p>
        <ion-row class="ion-padding-vertical">
          <ion-col class="ion-no-padding ion-padding-bottom">
            <ion-card color="secondary" class="ion-no-margin">
              <ion-card-content>
                <strong>Detailed Documentation</strong>
                can also be found in the
                <a href="http://docs.walletbeacon.io/" target="_blank">Beacon SDK Documentation.</a>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom" id="permissionRequest">
      <ion-col size-md="6">
        <h3>
          permissionRequest
          <a href="https://gitlab.com/tzip/tzip/blob/master/proposals/tzip-10/tzip-10.md#1-permission" target="_blank">
            <ion-icon name="open" color="medium" mode="ios"></ion-icon>
          </a>
        </h3>
        <p class="ion-padding-bottom">App requests permission to access account details from wallet.</p>
      </ion-col>
      <ion-col size-md="9" class="ion-no-padding">
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Granted Permissions
            </ion-card-subtitle>
            <ng-container *ngIf="!(activeAccount$ | async)">
              <p>No permissions yet. Request permissions from the wallet first.</p>
            </ng-container>
            <ng-container *ngIf="(activeAccount$ | async); let activeAccount">
              <ion-list lines="none">
                <ion-item class="ion-no-padding">
                  <ion-label>
                    {{ activeAccount.address }}
                    <p *ngIf="activeAccount.network.rpcUrl">{{ activeAccount.network.rpcUrl }}</p>
                  </ion-label>
                  <ion-badge color="primary" slot="end" *ngIf="activeAccount.network">
                    {{ activeAccount.network.type }}
                  </ion-badge>
                </ion-item>
                <ion-item class="ion-no-padding" [disabled]="!(activeAccount.scopes.indexOf('sign') >= 0)">
                  <ion-icon slot="start" name="create"></ion-icon>
                  <ion-label>Sign transactions</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" [disabled]="!(activeAccount.scopes.indexOf('operation_request') >= 0)">
                  <ion-icon slot="start" name="color-wand"></ion-icon>
                  <ion-label>Operations requests</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" [disabled]="!(activeAccount.scopes.indexOf('threshold') >= 0)">
                  <ion-icon slot="start" name="code-working"></ion-icon>
                  <ion-label>Threshold</ion-label>
                </ion-item>
              </ion-list>
            </ng-container>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Connected Networks
            </ion-card-subtitle>
            <ion-list lines="none">
              <ion-item class="ion-no-padding">
                <ion-label>Network</ion-label>
                <ion-select [(ngModel)]="selectedNetwork" placeholder="Select one">
                  <ion-select-option value="mainnet">Mainnet</ion-select-option>
                  <ion-select-option value="carthagenet">Carthagenet</ion-select-option>
                  <ion-select-option value="custom">Custom</ion-select-option>
                </ion-select>
              </ion-item>
              <ng-container *ngIf="selectedNetwork === 'custom'">
                <ion-item>
                  <ion-label>Name (optional)</ion-label>
                  <ion-input [(ngModel)]="networkName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>RPC Url</ion-label>
                  <ion-input [(ngModel)]="networkRpcUrl"></ion-input>
                </ion-item>
              </ng-container>
            </ion-list>
            <ion-button class="ion-margin-top" (click)="askForPermissions()">Request Permissions</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Connected Accounts
            </ion-card-subtitle>
            <div *ngFor="let connectedAccount of connectedAccounts">
              <ion-item lines="none" class="ion-no-padding">
                <ion-label slot="start">
                  <h3>{{ connectedAccount.address }}</h3>
                  <p>{{ connectedAccount.scopes }}</p>
                  <ng-container *ngIf="(activeAccount$ | async) let activeAccount">
                    <ion-badge
                      color="dark"
                      *ngIf="connectedAccount.accountIdentifier === activeAccount.accountIdentifier"
                    >
                      Active Account
                    </ion-badge>
                  </ng-container>
                </ion-label>
                <ion-badge color="primary" slot="end">
                  {{ connectedAccount.network.type }}
                </ion-badge>
              </ion-item>
              <ion-button size="small" (click)="activateAccount(connectedAccount)">
                Activate
              </ion-button>
              <ion-button size="small" fill="outline" (click)="disconnectAccount(connectedAccount.accountIdentifier)">
                Remove
              </ion-button>
            </div>
            <ion-button class="ion-margin-top" (click)="showConnectedAccounts()">Load Accounts</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-bottom" id="operationRequest">
      <ion-col size="12" size-md="6" class="ion-no-padding">
        <h3>
          operationRequest
          <a
            href="https://gitlab.com/tzip/tzip/blob/master/proposals/tzip-10/tzip-10.md#3-payment-request"
            target="_blank"
          >
            <ion-icon name="open" color="medium" mode="ios"></ion-icon>
          </a>
        </h3>
        <p class="ion-padding-bottom">
          App sends parameters like recipient and amount to the wallet and the wallet will prepare the transaction and
          broadcast it.
        </p>
      </ion-col>
      <ion-col size="12" size-md="9" class="ion-no-padding">
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Contract Details
            </ion-card-subtitle>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">Contract Address</ion-label>
              <ion-input [(ngModel)]="contractAddress" placeholder="KT1..."></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label *ngIf="activeAccount$ | async; let activeAccount">{{ activeAccount.address }}</ion-label>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-icon name="wallet" slot="start"></ion-icon>
              <ion-label>
                <strong>
                  <ng-container *ngIf="!contractBalance">0</ng-container>
                  {{ contractBalance }}
                </strong>
                FA Token Balance
              </ion-label>
            </ion-item>
            <ion-button (click)="getBalanceOfContract()" class="ion-margin-top">Get Balance</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Transfer
            </ion-card-subtitle>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">Amount</ion-label>
              <ion-input [(ngModel)]="transferAmount" placeholder="15"></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding ion-padding-bottom">
              <ion-label position="stacked">Recipient</ion-label>
              <ion-input [(ngModel)]="transferRecipient" placeholder="tz1.."></ion-input>
            </ion-item>
            <ion-button (click)="transfer()">Transfer</ion-button>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Custom Tezos Operation
            </ion-card-subtitle>
            <ion-item lines="none" class="ion-no-padding ion-padding-bottom">
              <ion-label position="stacked">Operation Requests (Array)</ion-label>
              <ion-textarea rows="10" [(ngModel)]="rawOperationRequest"></ion-textarea>
            </ion-item>
            <ion-button (click)="operationRequest()">Custom Tezos Operation</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" class="ion-no-padding">
        <h3 class="ion-padding-top">operationRequest Examples</h3>
        <p class="ion-padding-bottom">
          Additional reference implementations for the operationRequest message.
        </p>
        <p>
          <strong>One Click Delegation</strong>
        </p>
        <p>
          Prompts the wallet with a delegation operation for a specific baker. Bakers can use this on their websites as
          an simple way to create a delegation operation for potential users.
        </p>
      </ion-col>
      <ion-col size="12" size-md="9" class="ion-no-padding">
        <ion-card class="ion-no-margin ion-padding-bottom">
          <ion-card-content>
            <ion-card-subtitle>
              Baker Details
            </ion-card-subtitle>
            <!--TODO: enter baker address -->
            <ion-item lines="none" class="ion-no-padding ion-padding-bottom">
              <ion-label position="stacked">Baker address</ion-label>
              <ion-input placeholder="tz1.." [(ngModel)]="delegationAddress"></ion-input>
            </ion-item>
            <ion-button (click)="delegate()">One Click Delegation</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" class="ion-no-padding">
        <p class="ion-padding-top">
          <strong>Tipping</strong>
        </p>
        <p>
          Prompts the wallet with a spend operation to a pre-defined addres, in this case an address owned by AirGap.
        </p>
      </ion-col>
      <ion-col size="12" size-md="9" class="ion-no-padding">
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Tippinng Details
            </ion-card-subtitle>
            <ion-item lines="none" class="ion-no-padding ion-padding-bottom">
              <ion-label position="stacked">Amount in XTZ</ion-label>
              <ion-input [(ngModel)]="tippingAmount" placeholder="1"></ion-input>
            </ion-item>
            <ion-button (click)="tip()">Tip us</ion-button>
          </ion-card-content>
        </ion-card>
        <beacon-sample-contract></beacon-sample-contract>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-bottom" id="signPayloadRequest">
      <ion-col size="12" size-md="6" class="ion-no-padding">
        <h3>
          signPayloadRequest
          <a
            href="https://gitlab.com/tzip/tzip/blob/master/proposals/tzip-10/tzip-10.md#2-sign-payload"
            target="_blank"
          >
            <ion-icon name="open" color="medium" mode="ios"></ion-icon>
          </a>
        </h3>
        <p class="ion-padding-bottom">dApp requests that a payload is signed.</p>
      </ion-col>
      <ion-col size="12" size-md="9" class="ion-no-padding">
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Sign Transaction
            </ion-card-subtitle>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">Unsigned Transaction</ion-label>
              <ion-textarea [(ngModel)]="unsignedTransaction"></ion-textarea>
            </ion-item>
          </ion-card-content>
          <ion-button (click)="sign()" class="ion-margin">Sign Transaction</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-bottom" id="broadcastRequest">
      <ion-col size="12" size-md="6" class="ion-no-padding">
        <h3>
          broadcastRequest
          <a
            href="https://gitlab.com/tzip/tzip/blob/master/proposals/tzip-10/tzip-10.md#4-broadcast-transactions"
            target="_blank"
          >
            <ion-icon name="open" color="medium" mode="ios"></ion-icon>
          </a>
        </h3>
        <p class="ion-padding-bottom">dApp requests a signed transaction to be broadcasted.</p>
      </ion-col>
      <ion-col size="12" size-md="9" class="ion-no-padding">
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-card-subtitle>
              Broadcast Transaction
            </ion-card-subtitle>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label position="stacked">Signed Transaction</ion-label>
              <ion-textarea [(ngModel)]="broadcastTransaction"></ion-textarea>
            </ion-item>
          </ion-card-content>
          <ion-button (click)="broadcast()" class="ion-margin">Broadcast Transaction</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom" id="beacon-sdk-info">
      <ion-col>
        <h3>
          Beacon SDK Info
        </h3>
        <p>
          <strong>SDK Version:</strong>
          {{ beaconSdkVersion }}
        </p>
        <p>
          <strong>Beacon ID:</strong>
          {{ beaconSdkBeaconId }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-bottom" id="components">
      <ion-col>
        <h3>
          Components
        </h3>
        <p class="ion-padding-bottom">The various Beacon components repositories for developers.</p>
        <ion-row>
          <ion-col size-md="4" size="12">
            <h5>
              SDK
              <a href="https://github.com/airgap-it/beacon-sdk" target="_blank">
                <ion-icon name="open" color="medium" mode="ios"></ion-icon>
              </a>
            </h5>
            <p>
              The beacon-sdk simplifies and abstracts the communication between dApps and wallets over different
              transport layers.
            </p>
          </ion-col>
          <ion-col size-md="4" size="12">
            <h5>
              Extension
              <a href="https://github.com/airgap-it/beacon-extension" target="_blank">
                <ion-icon name="open" color="medium" mode="ios"></ion-icon>
              </a>
            </h5>
            <p class="ion-padding-end">
              The Beacon Extension implements the beacon-sdk to interact with dApps that have implemented the beacon-sdk
              and use the various signing methods.
            </p>
          </ion-col>
          <ion-col size-md="4" size="12">
            <h5>
              dApp
              <a href="https://github.com/airgap-it/beacon-example-dapp" target="_blank">
                <ion-icon name="open" color="medium" mode="ios"></ion-icon>
              </a>
            </h5>
            <p>
              The Beacon Example dApp is the reference implementation of a dApp that uses the beacon-sdk with various
              examples of the different message types.
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="ion-justify-content-center footer--container ion-margin-top ion-padding-vertical">
    <ion-col class="ion-no-padding">
      <ion-grid fixed="true" class="ion-padding">
        <ion-row class="ion-padding-vertical">
          <ion-col size="12" size-md="4">
            <img src="assets/img/beacon_logoy_type_hor_padding.svg" class="ion-padding-top" />
            <p>
              Beacon is developed and maintained by
              <a href="https://airgap.it" target="_blank">AirGap</a>
              .
            </p>
          </ion-col>
          <ion-col size="12" size-md="3">
            <h6>Developers</h6>
            <ul class="ion-no-padding">
              <li><a href="https://github.com/airgap-it/beacon-sdk" target="_blank">beacon-sdk</a></li>
              <li><a href="https://github.com/airgap-it/beacon-extension" target="_blank">beacon-extension</a></li>
              <li>
                <a href="https://github.com/airgap-it/beacon-example-dapp" target="_blank">beacon-example-dapp</a>
              </li>
            </ul>
          </ion-col>
          <ion-col size="12" size-md="3">
            <h6>Social Media</h6>
            <ul class="ion-no-padding">
              <li><a href="https://twitter.com/AirGap_it" target="_blank">Twitter</a></li>
              <li><a href="https://medium.com/airgap-it" target="_blank">Medium</a></li>
              <li><a href="https://t.me/AirGap" target="_blank">Telegram</a></li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>
